# Treat Simulink files as binary artifacts
*.slx binary
*.mdl text diff
*.m text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ini text eol=lf
*.c text eol=lf
*.h text eol=lf
*.hpp text eol=lf
